body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	color: #000;
	background-color: #D6D2C7
}

p, h3, h4, h5, h6, li {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #333;
}

h1{
	font-family: 'Vast Shadow', cursive;
	font-weight: 400;
	color: #333;
}

#header {
	background-color: #278E7B;
	width: 100%;
	height: 80px;
}

#header img {
	margin-top: 20px;
	margin-left: 15%;
}

#header ul {
	list-style-type: none;
	clear: both;
	float: right;
	margin-top: -35px;
	margin-right: 15%;
}

#header li{
	float: left;
	margin: 0 10px;
	font-weight: 300;
	color: #fff;
	font-size: 20px;
}

#header a{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
}

.feat-product {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.feat-product img {
	float: left;
	border: #333 4px solid;
	margin-right: 100px;
}

.feat-product h1 {
	border-bottom: #333 3px solid;
	padding-left: 100px;
}


#coffee-bags img{
	margin: 5px 10px;
}

.product{
	float: left;
	margin: 0 50px 10px 0;
}

.product h3 {
	margin-top: 0px;
	padding-left: 25px;
}

.product img {
	border: #333 4px solid;
}

#coffee-bags {
	clear: both;
	margin-left: 14%;
	margin-right: 15%;
}

#coffee-bags h1{
	border-bottom: #333 3px solid;
	padding-top: 50px;
}

footer {
	clear: both;
	background-color: #278E7B;
}

.image-credit{
	margin-left: 15%;
	margin-right: 15%;
	padding: 20px 0 
}

footer a {
	font-family: 'Lato', sans-serif;
	color: #222;
	font-weight: 300;
	font-size: 16px;
}